<div class="ms-5" id="account-information-container">
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">First Name</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">Last Name</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">Username</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">Email</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">Id Number</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
  <div class="infoText mb-2">
    <label class="text-capitalize text-black fw-bolder">Role</label>
    <input type="text" class="disabled ms-5" value="" disabled>
  </div>
</div>
