<button type="button" id="register-btn" class="btn btn-primary" (click)="addNewReimbursement(reimbursement)">Add</button>
<button type="button" id="delete-btn" class="btn btn-danger" (click)="deleteReimbursement(reimbursement)">Delete</button>
<button type="button" id="edit-btn" class="btn btn-warning" (click)="editReimbursement(reimbursement)">Edit</button>


<ng-template #reimbursement let-modal>
    <div class="modal-header">
        <h4 class="fw-bolder text-center" >Confirm Action!</h4>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to {{_action}} this record?</h5>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">Back</button>
        <button type="button" class="btn btn-primary" (click)="updateChanges()" (click)="modal.dismiss('Cross click')">Proceed</button>
    </div>
</ng-template>

