<div class="text-center navbar-dark text-dark bg-info p-2 w-auto">
  <a class="text-decoration-none h1 fw-bolder" id="title" href="#">Expense Reimbursement System</a>
</div>
<div  *ngIf="!_isForgotPassword" class="form-login">
  <form id="login-form" class="form-container text-center">
      <h2 class="fw-bolder mb-4 text-center">User Login</h2>
      <input type="text" placeholder="Username" id="userName" name="_userName" [(ngModel)] = "_userName" (focus)="removeuserName()"  autocomplete="userName" required>
      <div id="validate-userName" class="fst-italic fw-bolder text-danger">{{_invaliduserNameMessage}}</div>
      <input type="password" placeholder="Password" id="password" name="_password" [(ngModel)] = "_password" (focus)="removePassword()" autocomplete="current-password" required>
      <div id="validate-password" class="fst-italic fw-bolder text-danger">{{_invalidPasswordMessage}}</div>
      <div class="col">
        <button type="submit" id="login-btn" class="btn btn-primary" (click)="userLogin()">Log In</button>
     </div>
   <a id="reset" class="text-decoration-none fw-bold" (click)="forgotPassword()">Forgot Password?</a>
  </form>
</div>
<div  *ngIf="_isForgotPassword" class="form-login">
  <form id="login-form" class="form-container text-center">
      <h2 class="fw-bolder mb-4 text-center fs-3">Forgot Password</h2>
      <input type="text" placeholder="Enter Username or Email" id="userName" name="_userName" [(ngModel)] = "_userName" (focus)="removeuserName()" (blur)="checkuserName()" autocomplete="userName" required>
      <div id="validate-userName" class="fst-italic fw-bolder text-danger">{{_invaliduserNameMessage}}</div>
      <div class="col">
        <button type="submit" id="login-btn" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
     </div>
   <a id="reset" class="text-decoration-none fw-bold" (click)="backToLogin()">Back to Login?</a>
  </form>
</div>