<div class="text-center navbar-dark bg-info p-2 w-auto">
  <a class="text-decoration-none h1 fw-bolder" id="title" href="#">Expense Reimbursement System</a>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn-dark" id="home-btn">Home</button>
    </div>
    <div class="col">
      <button class="btn-warning" id="reset-password-btn">Reset Password</button>
    </div>
    <div class="col">
      <button class="btn-info" id="edit-btn">Update Profile</button>
    </div>
    <div class="col">
      <button class="btn-primary" id="register-btn">Add New User</button>
    </div>
    <div class="col">
      <button class="btn-danger" id="logout-btn">Logout</button>
    </div>
  </div>
</div>