<div class="text-center navbar-dark bg-info p-2 w-auto">
  <a class="text-decoration-none h1 fw-bolder" id="title" href="#">Expense Reimbursement System</a>
</div>
<div class="mt-3 mb-5 w-100 d-inline-flex justify-content-center">
  <div class="">
    <div>
      <app-user-info [_specifiedUser]="_user" ></app-user-info>
    </div>
    <div class="col">
      <view-reimbursement-app [_loggedInUser] = "_user" [_isNewReimbursement]="_isNewReimbursement"></view-reimbursement-app>
    </div>
    <div class="col">
      <button class="btn-danger" id="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="ms-4 border-left">
    <app-user-profile [_loggedInUser] = "_user"></app-user-profile>
  </div>
  
</div>